<div class="modal fade" id="turno-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Formulario de reserva de turno
                    </h5>
                    <button class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form action="/turno" method="post" id="form">
                        <!--Nombre del cliente-->
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="nombre" placeholder="Escriba aqui su nombre"
                                   name="name">
                        </div>
                        <!--Apellido del cliente-->
                        <div class="mb-3">
                            <label for="apellido" class="form-label">Apellido</label>
                            <input type="text" class="form-control" id="apellido"
                                   placeholder="Escriba aqui su apellido" name="lastName">
                        </div>
                        <!--Email del cliente-->
                        <div class="mb-3">
                            <label for="email" class="form-label">Correo electrónico</label>
                            <input type="email" class="form-control" id="email"
                                   placeholder="Escriba aqui su direccion de correo" name="email">
                        </div>
                        <!--Telefono del cliente-->
                        <div class="mb-3">
                            <label for="telefono" class="form-label">Telefono</label>
                            <input type="tel" class="form-control" id="telefono"
                                   placeholder="Escriba aqui su numero de telefono" name="numberPhone">
                        </div>
                        <!--Nombre de la mascota-->
                        <div class="mb-3">
                            <label for="nombreMascota" class="form-label">Nombre de la mascota</label>
                            <input type="text" class="form-control" id="nombreMascota"
                                   placeholder="Escriba aqui el nombre de su mascota" name="petName">
                        </div>
                        <!--Tipo de mascota se mostrara en un campo tipo select-->
                        <div class="mb-3">
                            <label for="tipoDeMascota" class="form-label">Tipo de mascota</label>
                            <select class="form-select" id="tipoDeMascota" name="petType">
                                <option selected>Seleccione una opcion</option>
                                <option value="Perro">Perro</option>
                                <option value="Gato">Gato</option>
                                <option value="Conejo">Conejo</option>
                                <option value="Hamster">Hamster</option>
                                <option value="Ave">Ave</option>
                                <option value="Peces">Peces</option>
                                <option value="Mascotas ex&oacute;ticas">Mascotas ex&oacute;ticas</option>
                            </select>
                        </div>
                        <!--Sexo del animal-->
                        <div class="mb-3">
                            <label for="sexo" class="form-label">Sexo</label>
                            <select class="form-select" id="sexo" name="animalSex">
                                <option selected>Seleccione una opcion</option>
                                <option value="Macho">Macho</option>
                                <option value="Hembra">Hembra</option>
                                <option value="Desconozco">Desconozco</option>
                            </select>
                        </div>
                        <!--Edad del animal-->
                        <div class="mb-3">
                            <label for="edad" class="form-label">Edad</label>
                            <input type="number" class="form-control" id="edad"
                                   placeholder="Escriba edad del animal. Aclarar meses o años" name="age">
                        </div>
                        <!--Peso del animal-->
                        <div class="mb-3">
                            <label for="peso" class="form-label">Peso (en Kilogramos)</label>
                            <input type="number" class="form-control" id="peso"
                                   placeholder="Escriba el peso del animal, si no lo sabe ponga desconozco"
                                   name="weight">
                        </div>
                        <!--Motivo de la consulta-->
                        <div class="mb-3">
                            <label for="motivoConsulta" class="form-label">Motivo de la consulta</label>
                            <select class="form-select" id="motivoConsulta" name="motConsulta">
                                <option selected>Seleccione una opcion</option>
                                <option value="Dermatologia">Dermatologia</option>
                                <option value="Cardiologia">Cardiologia</option>
                                <option value="Traumatologia">Traumatologia</option>
                                <option value="Oftalmologia">Oftalmologia</option>
                                <option value="Kinesiologia">Kinesiologia</option>
                                <option value="Clinica">Clinica</option>
                                <option value="Rayos">Rayos</option>
                                <option value="Vacunacion">Vacunacion</option>
                                <option value="Cirugia">Cirugia</option>
                                <option value="ECG">ECG</option>
                            </select>
                        </div>
                        <!--Fecha y hora del turno-->
                        <div class="mb-3">
                            <label for="fecha" class="form-label">Fecha</label>
                            <input type="date" class="form-control" id="fecha" placeholder="Escriba aqui la fecha"
                                   name="date">
                        </div>
                        <div class="mb-3">
                            <label for="hora" class="form-label">Hora</label>
                            <input type="time" class="form-control" id="hora" placeholder="Escriba aqui la hora"
                                   name="time">
                        </div>
                        <input type="submit" class="btn btn-success" id="button" value="Reservar turno">
                    </form>

                    <script type="text/javascript"
                            src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>

                    <script type="text/javascript">
                        emailjs.init('yKAPvJ6fB9e12Iybe')
                    </script>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>